
svg#logo {
  width: 100%;
  fill: #000;
}

.e2528cc1-e2ed-45d4-8532-45a5fe1df121 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.e62393f8-8251-4737-ad73-c57bb1818d90 {
  font-size: 25px;
  font-family: 'sans-serif, FranklinGothic-Demi Franklin Gothic Demi';
  font-weight: 300;
  letter-spacing: 0em;
}

.e082023e-a3e0-45c5-85b3-4e02b3bbfc40 {
  letter-spacing: 0em;
}

.ac82d2a8-2d57-4649-b1de-6933229c3273 {
  letter-spacing: -0.02em;
}

.fbdc686b-d0ac-47dc-8828-99c1417d2d43 {
  letter-spacing: 0em;
}
