nav#main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

nav#main-nav ul li a {
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
