#order-summary button {
  font-size: 120%;
  padding: 0.5rem 0.25rem;
  width: 100%;
}

#order-summary dl {
  margin: 2rem 0.5rem 1rem 0.5rem;
}

#order-summary dl dd span {
  display: inline;
  padding-right: 1rem;
}
