.fancy-dropdown {
  padding: 0.5rem 0;
}

.fancy-dropdown div:first-child {
  padding: 1rem 0; 
}

.fancy-dropdown div ul {
  display: flex;
}

.variant-title {
  border: 1px solid;
  border-radius: 0;
  padding: 1rem 1.5rem;
}

.fancy-dropdown div ul li a {
  border-radius: 0;
  border: 1px solid #f2f2f2;
  margin: .5rem;
  padding: 0.5rem 1rem;
  font-size: 100%;
  font-weight: 100;
}

.variant-links-wrapper {
  padding: 1rem;
  border: 1px solid;
  width: 70%;
}
