article.hero-horizontal-three-quarter-media-quarter-article {
  display: grid;
  grid-template-rows: 60vh 40vh; /*auto auto;*/
  min-height: 100vh;
}

article.hero-horizontal-three-quarter-media-quarter-article div.full-image-height {
  grid-row: 1;
  position: relative;
  overflow: hidden;
}

article.hero-horizontal-three-quarter-media-quarter-article div.full-image-height img {
  height: 100%;
}

article.hero-horizontal-three-quarter-media-quarter-article div.full-image-height .stats.horizontal {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
}

article.hero-horizontal-three-quarter-media-quarter-article div.full-image-height .stats.vertical {
  right: 5%;
  transform: translate(5%, -50%);
  top: 50%;
}
