.vertical-text-content {
  padding: 6rem 2rem 0 2rem;
}


.horizontal-text-content {
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-columns: 30% 70%;
  width: 85%;
}

.vertical-text-content header {
  grid-column: 1;
}

.vertical-text-content p {
  grid-column: 2;
}

.vertical-text-content header h2,
.horizontal-text-content header h2 {
  font-size: 100%;
  font-weight: 300;
}

.vertical-text-content header h1,
.horizontal-text-content header h1 {
  font-size: 200%;
  padding: 1rem 0;
}

.vertical-text-content p,
.horizontal-text-content p {
  line-height: 150%;
}

.vertical-text-content img {
  margin: 1rem auto;
}
